---
layout: page
---
{% for tuto in site.tutoriales %}
  <div class="card tutorial mb-3">
    <div class="card-body">
      <a href="{{ tuto.url | relative_url }}">
        <h5 class="card-title">{{ tuto.title }}</h5>
        <p class="card-text">{{ tuto.description | newline_to_br }}</p>
      </a>
    </div>
  </div>
{% endfor %}